body {
    background-color: #d45545;
    display: grid;
    font-family: system-ui;
    color: white;
    margin-top: 130px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 80px;
}

.container {
    justify-content: space-between;
    padding: 10px;
}

.logo {
    top: 10px;
    left: 0;
    position: fixed;
}

.user_logo {
    width: 30px;
    top: 20px;
    right: 70px;
}

footer {
    position: fixed;
    display: grid;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #6cbcc4;
    color: black;
    text-align: center;
    font-family: "Droid Sans";
    align-content: center;
}

.home-button {
    border: none;
    cursor: pointer;
    font-family: system-ui;
    background-color: #d45545;
    font-size: 24px;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    border-radius: 12px;
}

.list_users_button{
    border: none;
    cursor: pointer;
    font-family: system-ui;
    background-color: #6cbcc4;
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
}

.tags_button{
    border: none;
    cursor: pointer;
    font-family: system-ui;
    background-color: #6cbcc4;
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
}

.ask_question_button{
    border: none;
    cursor: pointer;
    font-family: system-ui;
    background-color: #6cbcc4;
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
}

.sort_button{
    border: none;
    cursor: pointer;
    font-family: system-ui;
    background-color: #6cbcc4;
    font-size: 14px;
    color: white;
    font-weight: bold;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

.submit_button{
    border: none;
    cursor: pointer;
    font-family: system-ui;
    background-color: #6cbcc4;
    font-size: 14px;
    color: white;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

.new_tag_button{
    border: none;
    cursor: pointer;
    font-family: system-ui;
    background-color: #6cbcc4;
    font-size: 14px;
    color: white;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

.submit_button{
    border: none;
    cursor: pointer;
    font-family: system-ui;
    background-color: #6cbcc4;
    font-size: 14px;
    color: white;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

.login_buttons{
    border: none;
    cursor: pointer;
    font-family: system-ui;
    background-color: #6cbcc4;
    font-size: 14px;
    color: white;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

.cancel_button{
    border: none;
    cursor: pointer;
    font-family: system-ui;
    background-color: #6cbcc4;
    font-size: 14px;
    color: white;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

.bottom-buttons{
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
}

/*.bottom-buttons > div {*/
/*  margin: 10px;*/
/*  padding: 20px;*/
/*  font-size: 30px;*/
/*}*/
.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.navbar {
    background-color: #6cbcc4;
    height: auto;
    display: grid;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 80%;
}

.search_bar {
    bottom: 5px;
    align-self: center;
}


input[type=text], input[type=password], input[type=username] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-button {
    border: none;
    color: white;
    cursor: pointer;
    font-family: system-ui;
    background-color: #d45545;
    color: white;
    font-weight: bold;
    border-radius: 12px;
}


.logout-button {
    border: none;
    cursor: pointer;
    color: white;
    font-family: system-ui;
    background-color: #d45545;
    color: white;
    font-weight: bold;
    border-radius: 12px;
}


.registration-button {
    border: none;
    color: white;
    cursor: pointer;
    font-family: system-ui;
    background-color: #d45545;
    color: white;
    font-weight: bold;
    border-radius: 12px;
}

.search-button {
    bottom: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: system-ui;
    background-color: #d45545;
    color: white;
    font-weight: bold;
    width: 80px;
    height: 40px;
    border-radius: 12px;
    align-self: flex-end;
}

.login {
    width: 100%;
    font-family: system-ui;
    background-color: #d45545;
    color: white;
    font-weight: bold;
}

.question_button {
    align-content: end;
}

.index_table {
    font-family: system-ui;
    font-weight: bold;
    color: black;
    border-collapse: collapse;
}


.index_table td, #index_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.index_table tr {
    background-color: white;
}

.index_table tr:nth-child(even) {
    background-color: #f2f2f2;
}


.index_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #a8d6d9;
    color: #d45545;

}

a {
    color: white;
}

#answer_on_display_question {
    font-size: 25px;
}

#answers_on_display_question {
    font-family: system-ui;
    font-weight: bold;
    font-size: 17px;
}

#title_on_display_question {
    font-size: 30px;
    font-family: system-ui;
}


.tag_table {
    font-family: system-ui;
    font-weight: bold;
    color: black;
    border-collapse: collapse;
    width: 100%;
}


.tag_table td, #index_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tag_table tr {
    background-color: white;
}

.tag_table tr:nth-child(even) {
    background-color: #f2f2f2;
}


.tag_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #a8d6d9;
    color: #d45545;

}

#tag_table_profile {
    font-family: system-ui;
    font-weight: normal;
}

.black_colored_link {
    color: black;
}