body {
    background-color:  #d45545;
    display: grid;
    width: 90%;
    margin: 120px;
    display: flex;
}
footer {
  position: fixed;
    display: grid;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #6cbcc4;
  color: black;
  text-align: center;
    font-family: "Droid Sans";
    font-size: 30px;
}

.navbar {
    background-color: #6cbcc4;
    height: 100px;
    display: grid;
    width: 100%;
    position: fixed;
    top:0px;
    bottom: 150px;
    left: 0px;
}

#index_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 190%;
}

#index_table td, #index_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#index_table tr {
    background-color: white;
}

#index_table tr:nth-child(even){background-color: #f2f2f2;}


#index_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #a8d6d9;
  color: #d45545;

}

#answer_on_display_question {
    font-size: 25px;
}

#answers_on_display_question {
    font-family: FreeSans;
    font-weight: bold;
    font-size: 17px;
}

#title_on_display_question {
    font-size: 30px;
    font-family: FreeSans;
}