body {
    background-color: #d45545;
    display: grid;
    font-family: system-ui;
    color: white;
    justify-content: center;
    margin-top: 130px;
}

.container {
    justify-content: space-between;
    padding: 10px;
}

.logo {
    top: 10px;
    left: 0;
    position: fixed;
}

.user_logo {
    width: 30px;
    top: 20px;
    right: 70px;
}

footer {
    position: fixed;
    display: grid;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6cbcc4;
    color: black;
    text-align: center;
    font-family: "Droid Sans";
}

.navbar {
    background-color: #6cbcc4;
    height: auto;
    display: grid;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 505px;
}


.login_box {
    right: 10%;
}

.search_bar {
    bottom: 5px;
    align-self: center;
}

.search-button {
    font-family: system-ui;
    background-color: #d45545;
    color: white;
    font-weight: bold;
}


input[type=text], input[type=password], input[type=username] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-button {
    border: none;
    color: white;
    font-family: system-ui;
    background-color: #d45545;
    color: white;
    font-weight: bold;
}

.login {
    width: 100%;
    font-family: system-ui;
    background-color: #d45545;
    color: white;
    font-weight: bold;
}

.logout-button {
    border: none;
    cursor: pointer;
    color: white;
    font-family: system-ui;
    background-color: #d45545;
    color: white;
    font-weight: bold;
}

.logout {
    width: 58%;
    font-family: system-ui;
    background-color: #d45545;
    color: white;
    font-weight: bold;
}


.registration-button {
    border: none;
    color: white;
    font-family: system-ui;
    background-color: #d45545;
    color: white;
    font-weight: bold;
}

.register {
    width: 100%;
    font-family: system-ui;
    background-color: #d45545;
    color: white;
    font-weight: bold;
}

.login {
    width: 100%;
    font-family: system-ui;
    background-color: #d45545;
    color: white;
    font-weight: bold;
}


.question_button {
    align-content: end;
}

.index_table {
    font-family: system-ui;
    font-weight: bold;
    color: black;
    border-collapse: collapse;
}


.index_table td, #index_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.index_table tr {
    background-color: white;
}

.index_table tr:nth-child(even) {
    background-color: #f2f2f2;
}


.index_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #a8d6d9;
    color: #d45545;

}

a {
    color: white;
}

#answer_on_display_question {
    font-size: 25px;
}

#answers_on_display_question {
    font-family: system-ui;
    font-weight: bold;
    font-size: 17px;
}

#title_on_display_question {
    font-size: 30px;
    font-family: system-ui;
}


.tag_table {
    font-family: system-ui;
    font-weight: bold;
    color: black;
    border-collapse: collapse;
    width: 120%;
}


.tag_table td, #index_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tag_table tr {
    background-color: white;
}

.tag_table tr:nth-child(even) {
    background-color: #f2f2f2;
}


.tag_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #a8d6d9;
    color: #d45545;

}

#tag_table_profile {
    font-family: system-ui;
    font-weight: normal;
}