<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Question</title>

    <h1>Add question</h1>

    <form action="/add-question" method="POST">
        Title:<br>
        <label for="title"></label>
        <input type=""text id="title" name="title" required>
    <br>
        Question:<br>
        <label for="message"></label>
    <textarea name=message id="message" rows="5" cols="40" required></textarea></br>
    <br>
        <input type="submit" value="Submit question" method="POST">

    </form>

</head>
<body>

</body>
</html>