<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% block head %}
    <title>Add Question</title>
{% endblock %}
</head>
<body>
{% block title %}
    <h1>Add question</h1>
{% endblock %}
{% block content %}
    <form action="/add-question" method="POST">
        Title:<br>
        <label for="title"></label>
        <input type=""text id="title" name="title" required>
    <br>
        Question:<br>
        <label for="message"></label>
    <textarea name=message id="message" rows="5" cols="40" required></textarea></br>
    <br>
        <input type="submit" value="Submit question" method="POST">

    </form>
{% endblock %}

</body>
</html>