{% extends "navbar.html" %}
{% block content %}

    <body>
    <h1>Add question</h1>
    <form action={{ url_for('add_question') }} method="POST" enctype="multipart/form-data">
        Title:<br>
        <label for="title"></label>
        <input type="text" id="title" name="title" required>
        <br>
        Question:<br>
        <label for="message"></label>
        <textarea name=message id="message" rows="5" cols="40" required></textarea></br>
        <br>
        <p> Upload image: </p>
        <p> <input accept="image/*" type="file" name="image"></p>
        <button type="submit" value="Submit comment" class="submit_button" id="submit_button">Submit Question</button>

    </form>

    {% include 'footer.html' %}
{% endblock %}