{% extends "navbar.html" %}
{% block page_title %}
    All Questions
{% endblock %}
{% block content %}

    <p>
    <form action="{{ url_for('all_questions') }}">
        <label for="sort_by"><strong>Sort by:</strong></label>
        <select id="sort_by" name="sort_by">
            {% for sort_option in sort_options %}
                <option value="{{ sort_option }}" {{ "selected" if sort_by == sort_option else "aaa" }}> {{ sort_option }} </option>
            {% endfor %}
        </select>
        <label for="order"><strong>Order:</strong></label>
        <select id="order" name="order">
            {% for order_option in order_options %}
                <option value="{{ order_option }}" {{ "selected" if order == order_option else "bbb" }}> {{ order_option }} </option>
            {% endfor %}
        </select>
        <button type="submit" class="sort_button" id=sort_button">Sort</button>
    </form></p>

    <table class="index_table">
        <thead>
        <th><strong>View</strong></th>
        <th><strong>Vote</strong></th>
        <th><strong>Message Title</strong></th>
        {% if session['logged_in'] %}
        <th><strong>Like</strong></th>
        <th><strong>Dislike</strong></th>
        {%  endif %}
        </thead>
        {% for question in questions %}
            {% if question['user_id'] != session['id'] or not session['id'] %}
            <tr>
                <td>{{ question['view_number'] }}</td>
                <td>{{ question['vote_number'] }}</td>
                <td>
                    <a href="/question/{{ question['id'] }}" style="color:black">{{ question['title'] }}<br></a>
                </td>
                {% if session['logged_in'] %}
                <td>
                    <form action="{{ url_for("question_vote", id = question['id'], vote='vote_up') }}" method="POST">
                        <button type="submit"><img src="{{ url_for("static", filename='images/like.jpg') }}" width="30">
                        </button>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for("question_vote", id = question['id'], vote='vote_down') }}" method="POST">
                        <button type="submit"><img src="{{ url_for("static", filename='images/dislike.jpg') }}"
                                                   width="30">
                        </button>
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endif %}
        {% endfor %}
    </table>

   <p><div clas="bottom-buttons">
        {% if session['logged_in'] %}
        <div class="buttons">
        <form action="{{ url_for("add_question") }}">
            <button type="submit" class="buttons" id=ask_question_button">Ask quesiton</button>
        </form>
        </div>

        <div class="buttons">
        <form action="{{ url_for("users") }}">
        <button type="submit" class="buttons" id="list_users_button">List all users</button>
        </form>
        </div>
        {% endif %}
        <div class="buttons">
        <form action="{{ url_for("tags") }}">
        <button type="submit" class="buttons" id="tags_button">See tags</button>
        </form>
        </div>

    </div></p>
{#        <a href="/add-question"><img src="{{ url_for("static", filename='images/ask.png') }}" width="150"></a>#}
{#    </div>#}
{#    <a href={{ url_for('logout') }}>Logout</a><br>#}
{#    <a href="{{ url_for('user_profile', user_id=session['username']) }}">Profile</a>#}

    </body>
    {% include 'footer.html' %}
{% endblock %}