<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question and answer</title>
</head>
<body>
<h1>Question:</h1>
<h2> {{ title }} </h2>
- {{ message }}
<br>
<h3><strong>Answers:</strong></h3>
{% for answer in answers %}
    <ul>

        <li><p> {{ answer['message'] }} </p></li>
        <table>
            <td>
                <button><a href="/answer/{{ question_id }}/delete"><img
                        src="{{ url_for("static", filename='bin.png') }}" width="35"></a></button>
            </td>
            <td>
                <form action="/answer-vote/{{ answer['id']}} /'vote_up'" method="POST">
                    <button type="submit"><img src="{{ url_for("static", filename='like.jpg') }}" width="30" alt="">
                    </button>
                </form>
            </td>
            <td>
                <form action="/answer-vote/{{ answer['id'] }}/'vote_down'" method="POST">
                    <button type="submit"><img src="{{ url_for("static", filename='dislike.jpg') }}" width="30">
                    </button>
                </form>
            </td>
        </table>
    </ul>
{% endfor %}
<a href="/question/{{ question_id }}/new-answer">Add a new answer</a><br>
<a href="/question/{{ question_id }}/edit"> Edit question </a> <br>
<a href="/">Back to home</a>

</body>
</html>