<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question and answer</title>
</head>
<body>
<h1>Question:</h1>
<h2> {{ title }} </h2>
- {{ message }}
<br>
<h3><strong>Answers:</strong></h3>
{% for answer in answers %}
    <ul>
        <li><p> {{ answer }} </p>
            <form action="/answer-vote/1" method="POST">
                <button type="submit"><img src="{{ url_for("static", filename='bin.png') }}" width="50"></button>
            </form>
            <button><img src="{{ url_for("static", filename='like.jpg') }}" width="40"></button>
            <button><img src="{{ url_for("static", filename='dislike.jpg') }}" width="40"></button>
        </li>
    </ul>
{% endfor %}
<a href="/question/{{ question_id }}/new-answer">Add a new answer</a><br>
<a href="/">Back to home</a>

</body>
</html>