{% extends "add-question.html" %}
{% block head %}
    <title>Edit Question</title>
{% endblock %}

{% block title %}
    <h1>Edit question</h1>
{% endblock %}
{% block content %}
    <form action="/question/{{ question_id }}/edit" method="POST">
        <h2>Current title:</h2>
        <p>{{ current_title }} </p>
        <h2>New title: </h2>
        <label for="title"></label>
        <input type="text" id="title" name="title" required> <br>
        <p> Current message: {{ current_message }} </p>
        <h2> New Message: </h2>
        <label for="message"></label>
    <textarea name="message" id="message" rows="5" cols="40" required></textarea></br>
    <br>
        <input type="submit" value="Submit question">
    </form>
{% endblock %}
