{% extends "add-question.html" %}
{% block head %}
    <title>Edit Question</title>
{% endblock %}

{% block title %}
    <h1>Edit question</h1>
{% endblock %}
{% block content %}
    <form action="/question/{{ question_id }}/edit" method="POST">
        <h2>Title: </h2>
        <label for="title"></label>
        <input value="{{ current_title }}" type="text" id="title" name="title" required> <br>
        <h2> Message: </h2>
        <label for="message"></label>
    <textarea name="message" id="message" rows="5" cols="40" required>{{ current_message }}</textarea></br>
    <br>
        <input type="submit" value="Submit question">
    </form>
{% endblock %}
