{% extends "add-question.html" %}
{% block head %}
    <title>Edit Comment</title>
{% endblock %}

{% block title %}
    <h1>Edit comment</h1>
{% endblock %}
{% block content %}
    <form action="/comment/{{ comment_id }}/edit" method="POST" enctype="multipart/form-data">
        {# titkosítási forma nem kötelező, de jó ha van #}
        <h2>Current comment:</h2>
        <label for="message"></label>
        <textarea name="edited_comment" id="edited_comment"  rows="5" cols="40" required>{{ original_comment['message'] }}</textarea></br>
        <input type="submit" value="Submit question">
    </form>
{% endblock %}