{% extends "add-question.html" %}
{% block head %}
    <title>Edit Question</title>
{% endblock %}

{% block title %}
    <h1>Edit question</h1>
{% endblock %}
{% block content %}
    <form action="/question/{{ question_id }}/edit" method="POST" enctype="multipart/form-data"> {# titkosítási forma nem kötelező, de jó ha van #}
        <h2> New Message: </h2>
        <label for="message"></label>
    <textarea name="message" id="message" rows="5" cols="40" required>{{ current_title }}</textarea></br>
        <p> Upload image: </p>
        <p> <input accept="image/*" type="file" name="image"> {# this is  comment not seen on the web #}</p>
        <input type="submit" value="Submit question">
    </form>
{% endblock %}