{% extends "navbar.html" %}
{% block content %}

    <h1>Edit question</h1>
    <form action="/question/{{ question_id }}/edit" method="POST" enctype="multipart/form-data"> {# titkosítási forma nem kötelező, de jó ha van #}
        <h2> New title: </h2>
        <label for="message"></label>
    <textarea name="title" id="title" rows="1" cols="40" required>{{ current_title }}</textarea></br>
        <h2> New Question: </h2>
        <label for="message"></label>
    <textarea name="message" id="message" rows="5" cols="40" required>{{ current_message }}</textarea></br>
        <p> Upload image: </p>
        <p> <input accept="image/*" type="file" name="image"> {# this is  comment not seen on the web #}</p>
        <button type="submit" class="submit_button" id="submit_button">Submit Question</button>
    </form>

{% include 'footer.html' %}
{% endblock %}