<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question list</title>
</head>
<body>
<h1>Questions</h1>
<form action="{{ url_for('list_questions') }}">
    <label for="sort_by">Sort by:</label>
    <select id="sort_by" name="sort_by">
        {% for sort_option in sort_options %}
            <option value="{{ sort_option }}" {{ "selected" if sort_by == sort_option else "aaa" }}> {{ sort_option }} </option>
        {% endfor %}
    </select>
    <label for="order">Order:</label>
    <select id="order" name="order">
        {% for order_option in order_options %}
            <option value="{{ order_option }}" {{ "selected" if order == order_option else "bbb" }}> {{ order_option }} </option>
        {% endfor %}
    </select>
    <button type="submit">SORT</button>
</form>
<table>
    {% for question, id in questions.items() %}
        <tr>
            <td>
                <a href="/question/{{ id }}">{{ question }}<br></a>
            </td>
            <td>
                <button><img src="{{ url_for("static", filename='bin.png') }}" width="50"></button>
            </td>
            <td>
                <button><img src="{{ url_for("static", filename='like.jpg') }}" width="40"></button>
            </td>
            <td>
                <button><img src="{{ url_for("static", filename='dislike.jpg') }}" width="40"></button>
            </td>
            <td>
                Image:
            </td>
        </tr>
    {% endfor %}
</table>
<br>
<br>
<br>
<a href="/add-question">Ask a question!</a>
</body>
</html>