<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}{% endblock %} AskMate </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</head>
<body>
<div>
    <header class="navbar">
        <div class="logo">

            <img src="../static/images/logo.png">
        </div>
        <div class="search">
            <form action="{{ url_for('search_question') }}">
                <input id="question_button" type="tex" name="question" placeholder="Search.." size="50"/>
                <div class="search-button">
                    <button type="submit">Search</button>
                </div>
            </form>
        </div>


        <div class="login-button">
            <form action="{{ url_for('login') }}">
                <p>
                    <button type="submit" class="login">Login</button>
                </p>
            </form>
        </div>
            <div class="register-button">
            <form action="{{ url_for('registration') }}">
                <button type="submit" class="register">Register</button>
            </form>
        </div>
        <div class="logout-button">
            <form action="{{ url_for('logout') }}">
                <button class="logout" type="submit">Logout</button>
            </form>
        </div>

</div>
</div>
</header>
<section>
    <h2 class="title text-center">{{ self.page_title() }}</h2>

    {% block content %}{% endblock %}
</section>
</div>
</body>
</html>