<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}{% endblock %} AskMate </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<script>
    function search(e) {
	let searched = document.getElementById("searched_expression").value.trim();
    if (searched !== "") {
  	let text = document.getElementById("searched_table").innerHTML;
  	let re = new RegExp(searched,"ig"); // search for all instances("g"), "i" means case insensitive
		let newText = text.replace(re, `<mark>${searched}</mark>`);
		document.getElementById("text").innerHTML = newText;
        }
    }
    window.onload = search
    {# amikor betöltődik al oldal, meghívja a search functiont #}
</script>
</head>
<body>

<header class="navbar">
    <div class="container" style=" display:flex;">
        <div>
            <img src="{{ url_for("static", filename="/images/logo.png") }}" class="logo" alt="logo">
        </div>
        <div class="search_bar">
            <form action="{{ url_for('search_question') }}">
                <div class="search-field-div">
                    <input id="searched_expression" class="search-field" type="text" name="question" placeholder="Search.." size="50"
                           value="{{ request.args["question"] }}"/>{# JavaScript miatt kell value #}
                    </div>
                <button type="submit" class="search-button">Search</button>
            </form>
        </div>
        <div>
            {% if session['logged_in'] %}
                <form action="{{ url_for('user_profile', user_id=session['id']) }}">
                    <button type="submit"><img src="{{url_for("static", filename="/images/avatar1.png")}}" class="user_logo" width="50"></button>
                </form>
            {% endif %}
            {%  if not session['logged_in'] %}
            <form action="{{ url_for('login') }}">
                <button type="submit" class="login-buttons">Login</button>
            </form>
            {% endif %}
            {% if session['logged_in'] %}
            <form action="{{ url_for('logout') }}">
                <button type="submit" class="login-buttons">Logout</button>
            </form>
            {% endif %}
            {%  if not session['logged_in'] %}
            <form action="{{ url_for('registration') }}">
                <button type="submit" class="login-buttons">Registration</button>
            </form>
            {%  endif %}
        </div>
    </div>
</header>

<div>
    <h2 class="title text-center">{{ self.page_title() }}</h2>

    {% block content %}{% endblock %}
</div>

</body>
</html>