<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}{% endblock %} AskMate </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
<script>
    function search(e) {
	let searched = document.getElementById("searched_expression").value.trim();
    if (searched !== "") {
  	let text = document.getElementById("searched_table").innerHTML;
  	let re = new RegExp(searched,"g"); // search for all instances("g")
		let newText = text.replace(re, `<mark>${searched}</mark>`);
		document.getElementById("text").innerHTML = newText;
        }
    }
    window.onload = search
    {# amikor betöltődik al oldal, meghívja a search functiont #}
</script>
</head>
<body>

<header class="navbar">
    <div class="container" style=" display:flex;">
        <div>
            <img src="../static/images/logo.png" class="logo">
        </div>
        <div class="search_bar">
            <form action="{{ url_for('search_question') }}">
                <input id="searched_expression" type="text" name="question" placeholder="Search.." size="50" value="{{ request.args["question"] }}"/>{# JavaScript miatt kell value #}
                <div class="search-button">
                    <button type="submit">Search</button>
                </div>
            </form>
        </div>
        <div>
{#            <form action="{{ url_for('user_profile') }}">#}
            <img src="../static/images/avatar1.png" class="user_logo" width="50">
{#                </form>#}
            <form action="{{ url_for('login') }}">
                <button type="submit" class="login-button">Login</button>
            </form>
            <form action="{{ url_for('logout') }}">
                <button type="submit" class="logout-button">Logout</button>
            </form>
            <form action="{{ url_for('registration') }}">
                <button type="submit" class="registration-button">Registration</button>
            </form>
        </div>
    </div>
</header>

<div>
    <h2 class="title text-center">{{ self.page_title() }}</h2>

    {% block content %}{% endblock %}
</div>

</body>
</html>