{% extends "navbar.html" %}
{% block content %}

<h1>Add a new answer</h1>
<form method="POST" action="/question/{{ question_id }}/new-answer">
    <label for="message">Message:</label><br>
    <textarea id="message" name="message" rows="10" cols="40"></textarea><br>

    <label for="image">Add an image</label><br>
    <input type="url" name="image" id="image"><br>
    <br>
    <button type="submit">Submit</button>
    <br><br>
</form>
<a href="/list">Cancel</a>

{% include 'footer.html' %}
{% endblock %}