{% extends "navbar.html" %}
{% block content %}

<h1>Add a new answer</h1>
<form method="POST" action="/question/{{ question_id }}/new-answer" enctype="multipart/form-data">
    <label for="message">Message:</label><br>
    <textarea id="message" name="message" rows="10" cols="40"></textarea><br>

    <p> Upload image: </p>
    <p> <input accept="image/*" type="file" name="image"> {# this is  comment not seen on the web #}</p>
    <br>
    <div clas="bottom-buttons">
        <div class="buttons">
    <button type="submit" value="Submit" class="buttons" id="submit_button">Submit</button>
        </div>
</form>
    <div class="buttons">
    <form action="/list">
        <button type="submit" value="Cancel" class="buttons" id="submit_button">Cancel</button>
    </form>
    </div>
{% include 'footer.html' %}
{% endblock %}