{% extends "navbar.html" %}
{% block page_title %}
    Question list
{% endblock %}
{% block content %}
<body>
<table id="searched_table">
    <tr>
        <td><strong>View</strong></td>
        <td><strong>Vote</strong></td>
        <td><strong>Message Title</strong></td>
    </tr>
    <tr>
        <td>{{ result['view_number'] }}</td>
        <td>{{ result['vote_number'] }}</td>
        <td id="text">
            {{ result['title'] }}
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><strong>Question</strong></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td> {{ result['message'] }}</td>
    </tr>
</table>
<script>
    
</script>
</body>
    {% include 'footer.html' %}
{% endblock %}